server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/order_mgmt
    username: order_user
    password: order_pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: debug
